body {
    min-width: 1200px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
}

.accommodation-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);

}

.head-background {
    background-image: url("../Assets/Sections-background/section-1(header).jpg");
    width: 100%;
    background-attachment: fixed;
}

.logo-sing-background {
    display: block;
    height: 67px;
    width: 58px;
    background-color: mediumaquamarine;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo-sing {
    font-family: Montserrat, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    line-height: 31px;
    transform: translate(-50%, -50%);
}

.logo-text {
    font-weight: bold;
    margin-left: 6px;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
}

.text-color {
    color: mediumaquamarine;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation-button {
    display: flex;
    align-items: center;
}

.navigation-button-link {
    font-size: 16px;
    font-weight: bold;
    margin-left: 21px;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkgrey;
}

.navigation-button-link:hover {
    padding-bottom: 50px;
    border-bottom: 3px solid mediumaquamarine;
    color: mediumaquamarine;
}

.navigation-search {
    display: block;
    margin-left: 21px;
}

.title-style {
    text-align: center;
    color: white;
}

.title-ham {
    font-size: 35px;
    font-weight: bold;
    margin-top: 264px;
    text-transform: uppercase;
}

.title-creative {
    font-size: 78px;
    font-weight: bold;
    margin-top: 22px;
    text-transform: uppercase;
}

.title-enjoy {
    font-size: 34px;
    font-weight: normal;
    margin-top: 22px;
    color: lightgray;
}

.header-button-block {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 364px;
    left: 50%;
    margin-top: 134px;
    padding-bottom: 243px;
    transform: translate(-50%, 0%);
}

.button-style-blue-color {
    display: block;
    box-sizing: border-box;
    width: 169px;
    height: 63px;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    padding-top: 15px;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: skyblue;
}

.button-style-all {
    display: block;
    box-sizing: border-box;
    width: 169px;
    height: 63px;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 15px;
    background-color: mediumaquamarine;
}

.button-style-shadow {
    box-shadow: 0 -5px 0 white;
}

.customization-block {
    display: flex;
    position: relative;
}

.customization-text {
    font-family: Montserrat ,sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 232px;
    margin-bottom: 110px;
}

.customization-size {
    position: relative;
    width: 25%;
    border-top: 8px solid white;
}

.customization-size:nth-child(odd) {
    color: mediumaquamarine;
    background: #1C2A33;
}

.customization-size:nth-child(even) {
    color: white;
    background: mediumaquamarine;
}

.customization-icon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.services-block {
    padding-top: 83px;
    padding-bottom: 91px;
}

.title-text-main {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.title-text-main:after {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 34px;
    right: 14%;
}

.title-text-main::before {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 38px;
    left: 14%;
}

.tabs {
    display: flex;
    margin-top: 101px;
}

.tabs-title {
    width: 192px;
    height: 72px;
    font-size: 16px;
    line-height: 39px;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    color: #717171;
    background: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

.active {
    color: white;
    background-color: mediumaquamarine;
}

.tabs-title:hover {
    border: 1px solid mediumaquamarine;
}

.tabs-content {
    margin-top: 28px;
}

.description {
    display: flex;
}

.services-img {
    display: block;
    width: 192px;
}

.services-text {
    font-size: 13.645px;
    line-height: 24px;
    margin-left: 15px;
    color: #777777;
}

.description {
    display: none;
}

.active-two {
    display: flex;
}

.implement-block {
    background-image: url("../Assets/Sections-background/section-2.jpg");
    width: 100%;
    padding-top: 126px;
    padding-bottom: 127px;
}

.title-implement {
    text-align: center;
}

.title-first {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: mediumaquamarine;
}

.title-second {
    font-size: 16px;
    font-weight: normal;
    margin-top: 12px;
    line-height: 40px;
    color: white;
}

.implement-button {
    position: relative;
    top: 67px;
    left: 50%;
    transform: translate(-50%, 0);
}


.amazing-work-block {
    background: white;
    padding-top: 95px;
    padding-bottom: 130px;
}

.title-amazing-work {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    color: #4E4E4E;
}

.title-amazing-work:after {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 34px;
    right: 20%;
}

.title-amazing-work::before {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 38px;
    left: 20%;
}

.amazing-tabs {
    display: flex;
    justify-content: center;
    margin-top: 97px;
    margin-bottom: 71px;
}

.amazing-tabs-title {
    font-size: 14px;
    font-weight: normal;
    align-items: center;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid white;
    padding: 16px;
}

.amazing-tabs-title:hover {
    cursor: pointer;
}

.active-amazing {
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
}

.amazing-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.wrapper-new {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.amazing-portfolio {
    width: 285px;
    position: relative;
    transition: 5s ease;
}

.img-size {
    width: 100%;
    display: block;
}

.hide {
    display: none;
}

.button-style-load {
    width: 168px;
    height: 63px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    line-height: 42px;
    text-transform: uppercase;
    color: white;
    background: mediumaquamarine;
}

.button-style-load::before {
    content: '+';
    position: relative;
    font-size: 30px;
    top: 8%;
    right: 5%;
    color: white;
}

.button-style-load:hover {
    cursor: pointer;
}

.amazing-portfolio:hover .amazing-hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.amazing-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    border-top: 8px solid mediumaquamarine;
    padding-top: 42px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.3s linear;
}

.amazing-hover-sings-block {
    display: flex;
    justify-content: center;
}

.hover-sings-one {
    height: 41px;
    width: 41px;
    border: 2px solid mediumaquamarine;
    border-radius: 50%;
}

.hover-sings-one:hover .hover-sings-one-share {
    cursor: pointer;
    fill: white;
}

.hover-sings-one:hover {
    cursor: pointer;
    background-color: mediumaquamarine;
}

.hover-sings-two:hover .hover-sings-square {
    cursor: pointer;
    background-color: white;
}

.hover-sings-two:hover {
    cursor: pointer;
    background-color: mediumaquamarine;
}

.hover-sings-two {
    height: 41px;
    width: 41px;
    border: 2px solid mediumaquamarine;
    border-radius: 50%;
}

.hover-sings-square {
    height: 11px;
    width: 12px;
    margin-top: 14px;
    margin-left: 14px;
    background: mediumaquamarine;
}

.hover-sings-one-share {
    margin-top: 13px;
    margin-left: 13px;
}

.amazing-hover-text {
    font-size: 14.1771px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
    color: mediumaquamarine;
}

.amazing-hover-text-two {
    font-size: 12.1518px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 3px;
    text-align: center;
    color: darkgray;
}

.breaking-news-block {
    padding-top: 80px;
}

.breaking-news-block-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 43px;
    padding-top: 100px;
    padding-bottom: 156px;
}

.title-breaking-work {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.title-breaking-work:after {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 34px;
    right: 16%;
}

.title-breaking-work:before {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 38px;
    left: 16%;
}

.breaking-post {
    width: 263px;
    position: relative;
}

.breaking-post-img {
    display: block;
}

.breaking-post-title-background {
    padding-bottom: 15px;
    background-color: white;
    border: 1px solid #F2F4F5;
}

.breaking-post-title {
    font-size: 17.9885px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    color: #717171;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.breaking-post-comment {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    margin-top: 19px;
    margin-left: 15px;
    text-decoration: none;
}

.post-comment-admin {
    display: inline;
    margin-right: 30px;
}

.post-comment-admin::after {
    content: '|';
    position: relative;
    left: 15px;
}

.breaking-data {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: darkslategray;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: visibility 0s linear 0.5s, opacity 0.3s linear;
    -webkit-transition: 0.5s ease;
}

.data-title-month {
    margin-top: 5px;
}

.breaking-post:hover .breaking-data {
    background-color: mediumaquamarine;
    transition: 0.3s;
}

.breaking-post:hover .breaking-post-title {
    color: mediumaquamarine;
    transition: 0.3s;
}

.breaking-post:hover {
    cursor: pointer;
}

.slider-block {
    background-image: url("../Assets/Sections-background/section-3.jpg");
    padding-top: 98px;
    padding-bottom: 700px;
}

.title-slider-block {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.title-slider-block:after {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 34px;
    right: 30%;
}

.title-slider-block:before {
    content: url('../Assets/Extra/Horizontal Line.svg');
    position: relative;
    top: 38px;
    left: 30%;
}

.slider-item-img {
    position: relative;
    top: 99px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slider-item-description {
    margin-top: 135px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.slider-item-name {
    margin-top: 37px;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: mediumaquamarine;
}

.slider-item-name-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #BBBBBB;
}

.slider-item-photo {
    height: 143px;
    width: 143px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 12px solid darkslategray;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.slider-blocks-all {
    position: relative;
}

.slider-block-item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.slider-block-item-active {
    display: block;
}

.carusel-slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-buttons-block {
    display: flex;
    justify-content: center;
    position: relative;
    top: 550px;
}

.slider-container {
    width: 408px;
    position: absolute;
    overflow: hidden;
}

.button-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    mix-blend-mode: normal;
    margin: 15px;
    border: 6px solid darkslategray;
}

.button-photo.button-photo-active {
    transform: scale(1.2);
}

.slider-button {
    height: 31px;
    width: 31px;
    position: absolute;
    color: lightgray;
    background: #4E4E4E;
    border: 2px solid white;
    cursor: pointer;
}

#prevBtn {
    top: 35px;
    left: 250px;
}

#nextBtn {
    top: 35px;
    right: 250px;
}

.button-photo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: lightgray;
}

.footer-block {
    width: 100%;
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #22353F;
}
