body {
    background-image: url("../Assets/Background.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1023px;
    padding-top: 46px;
}


.title {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    height: 47px;
}

.logo-white {
    background: url("../Assets/Logo-white.png");
    display: block;
    width: 53px;
    height: 47px;
}
.logo:hover .logo-white {

    cursor: pointer;
    background: url("../Assets/Logo-orange.png");

}

.logo-text {
    flex-direction: column;
    margin-left: 8px;
}

.logo-text-milan {
    font-family: Roboto,sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo:hover .logo-text-milan {
    color: #F26522;
    cursor: pointer;
}

.logo-text-holidays {
    display: block;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 3px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo:hover .logo-text-holidays {
    color: #F26522;
    cursor: pointer;
}

.contacts {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contacts-text {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-text:hover {
    color: #F26522;
    cursor: pointer;
}


.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 37px;
    margin-top: 17px;
}

.main-price {
    position: relative;
    height: 220px;
    overflow: hidden;
}

.content-img {
    width: 300px;
}

.content-text {
    text-align: center;
    margin-top: 20px;
}

.content-link {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-content:hover .content-link {
    color: #F26522;
    cursor: pointer;
}


.price {
    position: absolute;
    width: 297px;
    height: 55px;
    left: 2px;
    top: 220px;
    background: #F26522;
    -webkit-transition: 0.4s ease;
}

.price-text {
    position: relative;
    top: 9px;
    left: 16px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.value {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.view_details {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.view_details-link {
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.view_details::after {
    content: url("../Assets/Vector .png");
    margin-left: 16px;
    width: 5px;
    height: 10px;
}

.price-position {
    width: 258px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
    margin-left: 16px;
}

.main-content:hover .price {
    cursor: pointer;
    transform: translateY(-54px);
    transition: 0.4s;
}


.footer {
    margin-top: 49px;
    padding-bottom: 15px;
    height: 21px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}