/* links */

.buttons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 412px;
    margin: 26px auto;
}

.home-button {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: 72px;
    text-decoration: none;
    color: #FF0000;
}
.photoapp-button {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: 72px;
    text-decoration: none;
    color: #FF0000;
}
.design-button {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: 72px;
    text-decoration: none;
    color: #FF0000;
}

.download-button {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: 72px;
    text-decoration: none;
    color: #FF0000;;
}




/* content */


.text-title {
    width: 774px;
    text-align: center;
    height: 29px;
    margin: 49px auto 38px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
}

.text-main {
    width: 1145px;
    text-align: center;
    margin: 28px auto 0;
    font-family: 'Montserrat', sans-serif;;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #373737;
}

.button-style {
    width: 191px;
    height: 51px;
    margin: 66px auto 0;
    background: #FF0000;
    border-radius: 4px;
    padding-left: 0;
    cursor: pointer;
}

.button-text {
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


/* footer */

.end {
    width: 472px;
    height: 39px;
    margin-right: 105px;
    margin-left: auto;
    margin-top: 82px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #373737;
}
