.style{
    height: 100vh;
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    max-width: 40vw;
    min-height: 10vh;
}

.price-span{
    display: none;
}
.price-span.active{
    display: inline;

}

.price-clear-button{
    display: none;
    float: right;
}

.price-clear-button.active{
    display: block;
    float: right;
}

.price-input{
    display: block;
    width: 100%;
    outline: none;
}

.price-input.right{
    display: block;
    width: 100%;
    outline: 1px solid green;
    color: green;
}

.price-input.wrong{
    display: block;
    width: 100%;
    outline: 1px solid red;
}

.price-error-span{
    display: none;
}

.price-error-span.active{
    display: block;
}
