

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
/* header style */

.title {
    width: 334px;
    height: 79px;
    margin-top: 61px;
    text-align: center;
}

.title-text {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.title-color {
    color: #4bcaff;
}

.title-text:hover {
    text-decoration: underline;
    text-decoration-color: #4bcaff;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 1280px;
    margin-top: 38px;
    background-color: #35444F;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #FFFFFF;
    height: 72px;
}

.btn {
    font-family: "Roboto" ,sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}


.nav-button:hover {
    background-color: #222F3A;
    cursor: pointer;
}
.nav-button:last-child:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #FFFFFF;
    height: 72px;
    background-color: #222F3A;
    cursor: pointer;
}
/* main style */

.main {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.main-menu {
    width: 344px;
    border: 1px solid #000000;
    overflow: hidden;
}

.main-menu-button {
    width: 344px;
    height: 81px;
}

.btn-main {
    width: 344px;
    height: 81px;
    font-family: "Roboto" ,sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    margin-left: 44px;
    color: #485863;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-menu-button:hover {
    background-color: #DBDBDB;
}

.btn-main:hover {
    transform: translate(40px);
    transition: transform 0.5s;
    color: #35444F;
    background-color: #DBDBDB;
    cursor: pointer;
}

.content-img {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 320px;
    height: 381px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.description {
    /* height: 120px; */
    width: 885px;
    margin-top: 37px;
    position: relative;
    left: 396px;
}

.description-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.second-p {
    margin-top: 37px;
}
/* footer style */

.footer {
    height: 69px;
    width: 1280px;
    margin-top: 54px;
    background-color: #63696E;
    display: flex;
    justify-content: space-around;
}

.footer-list {
    height: 69px;
    width: 928px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-btn {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    margin-left: 30px;
    text-decoration: none;
}
.footer-btn-link {
    color: black;
    text-decoration: none;
}

.copyright {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}

.footer-btn:hover {
    color: #3181A6;
    text-decoration: underline;
    cursor: pointer;
}
