body {
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.perspective-effect {
    width: 100%;
    text-align: center;
    transform: perspective(250px) rotateX(25deg);
}

.wrapper {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.description {
    animation: move 40s infinite;
    animation-timing-function: linear;
    background-color: black;
}

.text-style {
    font-family: Open Sans,sans-serif;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin-top: 65px;
    color: #face2f;
}

.text-head {
    font-size: 70px;
}

.ending {
    height: 500px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 1) 50%);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes move {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}
