body {
    background-image: url("Assets/background.jpg");
    width: 100%;
    font-family: Ubuntu , sans-serif;
    background-repeat: no-repeat ;
    background-size: cover;
}

.wrapper {
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
}

.head-block {
    width: 100%;
    height: 58px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo {
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 72px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
}

.logo:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #01813F;
}

.block-registration {
    display: flex;
    margin-right: 72px;
}

.icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.icons-style {
    display: block;
    height: 23px;
    width: 23px;
    -webkit-transition: 0.5s ease;
}

.icons-style:hover {
    cursor: pointer;
    transition: 0.1s;
    fill: #01813F;
}


.registration {
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.text-style {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 4px;
    line-height: 14px;
    align-items: center;
    color: white;
}

.text-color {
    display: block;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    color: #3CB878;
}

.text-color:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
    color: #01813F;
}

.text-color-size {
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    color: #434343;
}

.text-color-size:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
}

.text-color-size::before {
    content: url('Assets/shape.png');
    width: 18px;
    position: absolute;
    left: 0;
}

.text-style-link {
    text-decoration: none;
    margin-left: 4px;
    -webkit-transition: 0.5s ease;
    color: white;
}

.text-style-link:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #01813F;
}

.registration-content {
    position: absolute;
    height: 584px;
    width: 444px;
    background-color: white;
    margin: auto;
    left: 0;
    top: 58px;
    right: 0;
    bottom: 0;
}

.registration-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}

.button-block {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
}

.button-style {
    display: flex;
    position: relative;
    height: 48px;
    width: 160px;
    border-radius: 5px;
}

.button-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.image-facebook {
    display: block;
    margin-left: 17px;
}

.image-google {
    display: block;
    margin-left: 12px;
}

.button-text-style {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-left: 38px;
    color: white;
}

.text-style-face::before {
    content: url('Assets/line.png');
    position: absolute;
    left: 48px;
    top: 10px;
}

.text-style-google::before {
    content: url('Assets/google-line.png');
    position: absolute;
    left: 48px;
    top: 10px;
}

.button-blue {
    background: #305DB8;
    -webkit-transition: 0.5s ease;
}

.button-blue:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #022263;
}

.button-red {
    background: #DF4A32;
    -webkit-transition: 0.5s ease;
}

.button-red:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #AB1F09;
}

.or-element {
    height: 100%;
    text-align: center;
    margin-top: 31px;
}

.or-element::before {
    content: url('Assets/H-line.png');
    position: absolute;
    margin-right: 2px;
    top: 142px;
    right: 61px;
}

.or-element::after {
    content: url('Assets/H-line.png');
    position: absolute;
    margin-left: 2px;
    top: 142px;
    left: 61px;
}

.text-grey {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #848484;
}

.forms {
    position: relative;
}

.field {
    height: 46px;
    width: 324px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #BEBEBE;
    -webkit-transition: 0.5s ease;
}

.field:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    transition: 0.3s;
}

.check-position {
    display: block;
    border: 1px solid #01813F;
    margin-top: 12px;
    position: absolute;
    top: 306px;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.check-style {
    display: block;
    margin-top: 12px;
    margin-left: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.checkmark:after {
    content: url("Assets/check.svg");
    display: none;
    position: absolute;
}

.checkin input:checked~.checkmark:after {
    display: block;
    top: 1px;
    left: 2px;
}

.checkin:hover {
    cursor: pointer;
}

.check-style:hover .check-text-grin {
    text-decoration: underline;
    cursor: pointer;
    color: #01813F;
}

.check-text-green {
    text-decoration: none;
    color: #3CB878;
}

.checkmark {
    position: absolute;
    top: 312px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}

.button-finish {
    height: 46px;
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: 0.5s ease;
}

.button-finish:hover {
    cursor: pointer;
    transition: 0.3s;
    background: #01813F;
}
